ul {
    list-style-type: none; /*removes bullet points*/
}

ul li {
    float: left; /*make nav bar horizontal*/
    padding: 2%;  /*seperate nav elements from each other*/
}

ul li a {
    display: block;
    text-align: center;
    text-decoration: none;

}

body {
    text-align: center;
}