header {
    display: block;
    width: 100%;
    overflow: auto;
}

header ul {
    list-style-type: none; /*removes bullet points*/
    justify-content: center;
    
}

header ul li {
    float: left; /*make nav bar horizontal*/
    padding: 2%;  /*seperate nav elements from each other*/
}

header ul li a {
    display: block;
    text-align: center;
    text-decoration: none;

}

aside {
    display: block;
    width: auto;
    overflow: auto;

}

aside li {
    list-style-type: none; /*removes bullet points*/
    justify-content: center;

}

aside li a {
    display: block;
    text-decoration: none;
    text-align: center;
    

}




.map-responsive, .mapPins {
padding-bottom:56.25%;
overflow: hidden; /*Ensures that any content that exceeds the container’s bounds is clipped. This prevents scrollbars from showing if the iframe is larger than the container.*/
position: relative; /*Sets the container as a reference point for absolutely positioned children (like the iframe).*/
height: 0; /*Makes the container itself have zero height. The visible height comes entirely from the padding-bottom trick.*/
}

.map-responsive iframe, .mapPins iframe {

    left:0;
    top:0;
   /* These 2 lines of code- anchor the iframe to the top-left corner of the container.*/
    height:100%;
    width:100%;
    /* These 2 lines of code- make the iframe fill the container completely, scaling automatically with the container’s width and padding-based height. */
    position:absolute;
    /*Positions the iframe relative to its parent (.map-responsive). This is why position: relative was important on the container.*/
    
}

body {
    margin: 5%;
}

/*==========================GRADIENTS==================================*/ 

/* syntax is 
background-image: linear-gradient(direction, color-stop1, color-stop2, ...);

OR
background-image: linear-gradient(angle, color-stop1, color-stop2);
A value of 0deg is equivalent to "to top".
A value of 90deg is equivalent to "to right".
A value of 180deg is equivalent to "to bottom".
A value of 270deg equivalent to "to left"
*/

footer { 
    background-image: linear-gradient(to bottom right, rgb(249, 249, 252), rgb(3, 3, 3));
    /*diagonal gradient- from top left to bottom right*/
    padding: 10%;

    /*padding just so i can see the full effect of the gradient and make my webpages even more ugly*/
    
}

main {
    background-image: linear-gradient(to top, blue, purple);
}

header {
    background-image: linear-gradient(to left, rgb(224, 177, 210), blue);
}



header li {

    background-image: linear-gradient(to bottom, blue, yellow);
}

aside li {
    /*rainbow background with deg*/
    background-image: linear-gradient(90deg, rgb(245, 45, 5), rgb(234, 141, 10),rgb(239, 224, 14),rgb(69, 227, 12),rgb(12, 159, 223),blue,rgb(208, 9, 226));
}

/*Linear Gradient Transparency*/
/*
To add transparency, we use the rgba() function to define the color stops. The last parameter in the rgba() function can be a value from 0 to 1, and it defines the transparency of the color: 0 indicates full transparency, 1 indicates full color (no transparency).
The following example shows a linear gradient that goes from left to right. It starts fully transparent, transitioning to full color red:
#grad {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
  
body {
    background-image: linear-gradient(to right, rgba(17, 220, 51, 0), rgba(17, 51, 1));
}



*/



/*CSS repeating-linear-gradient() Function*/
/*#grad {
  background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}*/

/*Transparent gradient and repeating Gradient in One*/
body {background-image: repeating-linear-gradient(to right, rgba(17, 220, 51, 0) 10%, rgba(17, 51, 1) 20%); 
}